            <section class="section summary-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.summary.icon }}"></i>{{ i18n "summary" }}</h2>
                <div class="summary">
                    <p>{{ with .Site.Params.summary.summary }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//summary-->
                <div class="summary2">
                    <p>{{ with .Site.Params.summary.summary2 }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//summary2-->
            </section><!--//section-->
